<a href="https://colab.research.google.com/github/ABDULMAJEED2002/python_learning/blob/main/zenvious_day_01_ipynb_Majid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ide means
hastag is use to explain about phyton
#what is phyton ?
"""General purpose prog langauage.[mainly used for the calulations purpose.]
 2.high level programing lang
 3.object oriented programing language.
 4.dynamically typed programinhg langauge.
 5.interpted programing language.

SyntaxError: invalid syntax (<ipython-input-1-6b139bcb0283>, line 1)

In [ ]:
#IDE INTERGATED DEVELOPMENT ENVIRONMENT
# how can you define an ide?
#code compilier, code exceuter , interpretor

In [ ]:
#print "hello world " by using python prog lang?
print("hello world")

hello world

In [ ]:
#what is commenting and why it is important ?
# for the better underrtsanding of the code we are encourging comments\
# single line comment
"""multiline,
   comment """
''' hi
   i am leraning comments '''

' hi\n   i am leraning comments '

In [ ]:
# there are 3 types
# integers ....int .. a whole number without decimal point either postive or negative is known as integer
print(10)
# find the data type or class of above intigers  . type is use to find the data type
print(type(10))

10
<class 'int'>

In [ ]:
#float a whole number with decimal points either postive or negative
print(10.5)
print(type(10.5))
#print the data type for given numbers
print(type(10.0))
print(type(2.1))
print(type(3.5))
print(type(-6.0))
print(type(2))

10.5
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>

In [ ]:
# COMPLEX NUMBER : a real number with its imiginary part is known as complex numbers
#founder of phyton
print(-10 + 5j)
print(type(-10+ 5j))
#j is known as "iota"...root (-1)

(-10+5j)
<class 'complex'>

In [ ]:
#Arthamatic operators

In [ ]:
#there are 7 seven arthamtic operators
#addition..
print(10+5)
#subtraction
print(10-5)
#multiplication..
print(10*5)
#divison..
print(10/5)

15
5
50
2.0

In [ ]:
#what is string?
#string collection multiple characters written isnide the quotes
a = "hello zenvius#"
print(a)
print(type(a))

hello zenvius#
<class 'str'>

In [ ]:
#modules reminder is called as modlues
print(10%5)
print(10%3)
print(type(10%3))
#exponential.....** to the power off
print(10**5)
print(type(10**5))

0
1
<class 'int'>
100000
<class 'int'>

In [ ]:
#why the default data type for division is float?
#"""when your doing the division sometime if you want exact co-rfficient you may get decimal values instead of denoting the data type by default "gudeo van rowwum" mention it as float"""
#7. floor division : it will ignores the value after decimal point...//
print(10 / 3)
print(10//3)
print(type(10//3))

3.3333333333333335
3
<class 'int'>

In [ ]:
Celling value it will count the nearest value ex like 2.75= 3

In [ ]:
#ROUND()
print(2.5326)
#print the specific decimal values?
print(round(2.5326,2))

2.5326
2.53

In [ ]:
what is floor value?
what is ceiling value?

In [ ]:
#VARIABLES
#how can u define the var?
#"""variables are the containers where you can store your valuable inf and reuse it"""
#how can u access the var?
#i am using the print statment along with var name to access the variables
#what is purpose of variables?
#is to reduce the memory size.
#how to create the variables?
x = 40
son_age = x/2
print(son_age)
x=10
y=5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

15
5
50
2.0
0
100000
2

In [ ]:
#rules we need follow to create variables?
"""1. always start creating the varaiables with alphabets
 # 2 . dont start creating the variables with numbers
   3. """#if you follow rule1 and 2 the you can start creatng variables with alphabets in between you can include variables with alphabets inbetween you include number""
   5.dont use special characters.--->@,#,$
   6.u can strart creating varaiables with(_) special characters
   7. always prefer varaiables in lowercase

IndentationError: unexpected indent (<ipython-input-26-160254f432a5>, line 6)

In [ ]:
#python is a case sensitive language?
x = "hello world"
print(x)

hello world

In [ ]:
# assign a multiple values to multiple var and print in seprate line?
x,y,z = 5,10,15
#print(x)
#print(y)
#print(z)
#use sep="/n"
print(x,y,z,sep='\n')#"\--->represents nextline (backword slash"n")

5
10
15

In [ ]:
#assign same value to the multiple variables and print in seprate line ?
a=b=c=5
print(a,b,c,sep="\n")

5
5
5

In [ ]:
#what is input ()?
#it intakes the user information/data
#how can i access the input()?
#how can we create input()
#we are using input funtion along with a varaiable name to create input()
#where we have to use this inputs()?
#when use is multiply information /data/value to the same varaiables then we have to use input().
#why we are using ()? o(?) what is the purpose of using te input()?
#to maintain the memory
x=input("enter the number : ")
print(x)
print(type(x))
#the default data type for input is string.
#why default data type for input () is string?
#'''user may give different types of information/data/value the inputfuntion has built insuch a way so it can take any kind of information so thats's  why default data type is string.'''

enter the number : 2,3,4,5
2,3,4,5
<class 'str'>

In [ ]:
#what is the default data type for input()?
#string
#define the input() data type when your working with numericals values
x= int(input("enter the number:"))
y= int(input("enter the number:"))
#do all the arthamtic operations

In [ ]:
#what is the default

In [ ]:
_TYPES OF ERRORS
#there are 2 two types of errors
#1.syntax error
#2.logical error

In [ ]:
#what is syntax errors?
#breaking the rules of programming lang is known as syntax error
#print(x ** y)

In [ ]:
#what is logical error?
#except syntax all the errors comes under logical error
#ex; Name error, indendation error

In [ ]:
#what is diff b/w dynamically typed and statistically typed?
#dynamically typed programming language means your not defining the data type for the varaiables
#ex: python
#statically typed programming language means we need top define the data type for the varaiables.

In [ ]:
#note: when your using input() for numerical data, define the data type for input()

In [ ]:
 STRINGS
# what is string?
#string collection multiple characters written inside the quotes

NameError: name 'STRINGS' is not defined

In [ ]:
a = """hi,
iam  learning python this is multiline string"""
print(len(a))

49

In [ ]:
#""" string is a collection of multiple characters
written inside the quotes, Each characters can be accessiable """..("")('')
#how can you denote or write a multiline strings?
#print(""" hi
   iam using python multiline to strings
   this is my 1st execution """)

SyntaxError: invalid decimal literal (<ipython-input-3-29c802bb3f29>, line 6)

In [ ]:
#how can we access the characters of a string ?
#we are using indexing and slicing operators to access the specific characters in a string
#we can access the characters of a string with the help of "indexing"
#what   is indexing?
#it is the positional number of each characters in a string.
#indexing can be starts from zero onwords
#along wuth it we have to use the slicing operators--[]---> it is use to break the string. also used to retrive substring from the main string.
#waht is substring?
# is nothing but a part of main string
x = "hello world!"
#how to find how many indexs and how to find length of a string?
#to find the length of string we are using len funtions --> len()
#length can be start from 1
print(len(x))
#id you want to find the total index substract length is -1

s = "hello world"
#[start]
#print only "h" from above string
print(s[0])
#print hello from hello wolrd?
print(s[0])
print(s[0:5])

h
h
hello

In [ ]:
print(s[6])

w

In [ ]:
print([8])

[8]

In [ ]:
print(s[9])

l

In [ ]:
print(s[10])

d

In [ ]:
#note: if you want to display particular end charcaters then please guve the end value as "n+1"
#print the length of a string?
a = "hello world!"
print(len(a))

12

In [ ]:
print(x[6:11])

world

In [ ]:
a = "you must be the change you wish to see in the world"
print(len(a)) # length will start from one
print(a[46])

51
w

In [ ]:
#[start:end:step]
a = "hello world!"
#print even position characters in given strings?
print(a[0:12:2])
print(a[0:11:1])
print(a[0:12:3])
print(a[1::2])

hlowrd
hello world
hlwl
el ol!

In [ ]:
print(a[:]) #default it takes start postion and end position
print(a[::])#default it takes start postion and end position and default step is 1
#print odd position caharcters
print(a[1::2])
last character of the string

SyntaxError: invalid syntax (<ipython-input-34-e90f384930dd>, line 5)

In [ ]:
#what is defalt indexing?
#"""during slicing opertions if you wont specify the index postional numbers the python can take o as the start psotion numbe and length measures as the end psostion numbers"""
print(a[1::2]) #--> odd postion char
print(a[::1]) #--> overall strings
print(a[::2]) # --> even postions

In [ ]:
NEGATIVE INDEXING
#whar is negative indexing?
#indexing the psoition characters from the right to left (reverse postion) by using -ve number
#-ve indexing can be starts with -1
#by using -ve indexing we acan access the characters in revrese directions.
s = "hello world "
#[start]
#print the w by using -ve inexing?
print(s[-6])
#print range of characters in -ve indexing?
#world
print(a[-6:-1])

In [ ]:
#print last characters?
a = "hello world!"
#if you want to print last characters use -ve indexing?
#what is negative indexing?
#accessing the characters of a string in reverse directions
#the neagtive indexing satrts from "-1"
print(a[-1:-10:-1])

!dlrow ol

In [ ]:
a = "helllo world!"
#reverse the given string?
print(a[::-1])

!dlrow ollleh

In [ ]:
#check weather tyhe string is palindrome or not?
#"mom"
#madam
#malayalam
#wow
#hyderabad
#karnataka
a = "mom"
print(a[-1:3:-1])

In [ ]:
STRING METHODS

#what are all the methods applicable on string?
#use dir() it will tells us what are all the methods can be applicable for given string
#what ois dir()?
#it returns what are all the methods applicable on given string

In [ ]:
#STRING FORMATTING METHOD
#it is defined as formatting method can takes an arugments and place it over a place holder{.}
#this can be three 3 types

In [ ]:
a = "hello wolrd"
#us the dir() to print what are all the methods we can apply on string.
print(dir(a))
#some of the strings methods
#upper()
#lower()
#title()
#swapcase()
#capitalize()
#replace()    ****imp
#title()
#sstrip()
#estrip()
#lstrip()
#print(a.upper())
print(a.lower())

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
hello wolrd

In [ ]:
a = "majeed hello"
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.title())
print(a.replace("hello","hai"))
print(a.strip())
print(a.lstrip())

MAJEED HELLO
majeed hello
Majeed hello
Majeed Hello
majeed hai
majeed hello
majeed hello

In [ ]:
a = "   helloworld  "
print(a.lstrip())
print(a.rstrip())
print(a.strip())

helloworld
   helloworld
helloworld

In [ ]:
a = "hello good morning"
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.replace("morning","evening"))
print(a.strip())
print(a.lstrip())

HELLO GOOD MORNING
hello good morning
Hello good morning
hello good evening
hello good morning
hello good morning

In [ ]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(a.zfill(20))

00hello good morning

In [ ]:
print(a.startswith("good",6,16))

True

In [ ]:
a = "upcoming great generations are best"
print(a.upper())

UPCOMING GREAT GENERATIONS ARE BEST

In [ ]:
print(a.lower())

upcoming great generations are best

In [ ]:
print(a.split())

['upcoming', 'great', 'generations', 'are', 'best']

AttributeError: 'str' object has no attribute 'suffix'

In [ ]:
mali = 5
print("mali"+ "is" + str(mali))

maliis5

In [ ]:
#STRING FORMAT METHODS
#what is concatination?
#addition of strings is known as concatination
a = "hello"  +  "universe"
print(a)

hellouniverse

In [ ]:
#1. give the space at the end of string.
#2. we can give the space at the postion of the last string
a = "hello" + "universe"
#3rd adding space in between the string.
a = "hello" +" "+ "universe"
print(a)

hello universe

In [ ]:
#print "hello@universe"?
a = "hello@universe"
print(a)

hello@universe

In [ ]:
a = "hello" + "@" + "universe"
print(a)

hello@universe

In [ ]:
STRING CONCATINATION

In [ ]:
#take a two varaiable and print "my age is 10"?
a = "my age is"
b = "10"
print(type(b))
print(a + b)

<class 'str'>
my age is10

In [ ]:
#1st method of format is giving. format() in print statment{this is called as print format}
# i want to give an arguments ayt null placeholders

a = "my age is {}"
b = 10
print(a.format(b))

my age is 10

In [ ]:
#2nd method is. this is called as string format  ..using at the end of the string
a = "my age is {}".format(b)
b = 10
print(a)
a = 10
b = "my age is {}".format(a)
print(b)

my age is 10
my age is 10

In [ ]:
a = 10
b = "my age is {}".format(a)
print(b)

my age is 10

In [ ]:
a = "siddartha age is {}".format(b)
b = 21
print(b)

21

In [ ]:
#3rd. method f' string  format' method
age = 10
print(f"my age is {age } old")

my age is 10 old

In [ ]:
"your order has been placed for product A with price of 99.9/- and order quatnity is 10 is confirmed."
item_name = "price A"
price = 99.9
quantity = 10
print(f' your order has been placed successfuly for {item_name} with a price of {price}/- and order of quantity.{quantity} is confirmed.')

 your order has been placed successfuly for price A with a price of 99.9/- and order of quantity.10 is confirmed.

In [ ]:
item_name = input("enter the item name:")
price = int(input("price of the product: " ))
quantity = int(input("quantity of the product"))
print(f"ure order has been placed successfuly for {item_name} with the total price of {price*quantity} has been confirmed")

enter the item name:bata
price of the product: 500
quantity of the product40

TypeError: 'str' object is not callable

In [ ]:
ESCAPE CHARACTERS
#what is a escape characters?
#if you want to print illegal characters ina string we have to use escape characters
#----> use backword slash "\" infront of illegal characters next at the end also use "\" before illlegal characaters
a = "Dwyan \" the Rock\" johnson."
print(a)

In [ ]:
#CODITIONAL STATMENTS

In [ ]:
#this are also known as control structures.
#what are all comparision operators in python.
#comparision operators is also called as relational statments
#equals----> ==
#not equals---> !=
#greater than--->> >
#less than---> <
#greater than or equal to ---> >=
#less than or equal to----> <=

#what are all conditional statments do we have?
#if----elif---else

In [ ]:
#write a prograam to print weather thier students is pass or fail
marks = float(input("enter the marks"))
total_marks = 100
#condtion is morethan or equal to 35 marks student pass.
if marks >= 35:
  print("congrulations")
  print(f'you have passed with {marks} marks')
else:
 print("better luck next time")

enter the marks45
congrulations
you have passed with 45.0 marks

In [ ]:
#write a program to print the given number is "+ve" ,"-ve", or neutrol?
A = float(input())
if A > 0:
  print("+ve")
elif A == 0:
  print("neutral")
else:
  print("-ve")

5
+ve

In [ ]:
#write a program to cheack the given string is palindrome or not?
#Mom
#MaDAm
#MALalayam
#woW
#HYDERBAD
#KARNATAKA
a = input("enter the string:")
b = a[::-1]
if a.upper() == b.upper():
  print("palindrome")
else:
  print("not palindrome")

enter the string:HYDERABAD
not palindrome

In [ ]:
print("HYDERABAD"=="HYDERABAD")

True

In [ ]:
#write a prograam to print weather thier students is pass or fail
marks = float(input("enter the marks"))
total_marks = 100
#condtion is morethan or equal to 35 marks student pass.
if marks >= 35:
  print("congrulations")
  print(f'you have passed with {marks} marks')
else:
 print("better luck next time")

enter the marks78
congrulations
you have passed with 78.0 marks

In [ ]:
#write a prograam to print weather thier students is pass or fail
marks = int(input("enter the marks"))
total_marks = 100
#condtion is morethan or equal to 35 marks student pass.
if marks >= 35:
  print("congrulations")
  print(f'you have passed with {marks} marks')
else:
 print("better luck next time")

enter the marks32
better luck next time

In [ ]:
LOOPS

In [ ]:
#print multiples of 2 in the given collection?
#[1,2,3,---[2,4,6,8]
a = [1,2,3,4]
print(a[0]*2,a[1]*2,a[2]*2,a[3]*4)

2 4 6 16

#why we use loops?

In [ ]:
#we use the loops to avoid the duplicate codes.
#loops are used to iterate and check condtions over collections.
#how many types of codes?
# there are two types of codes
#dry code ---> d: dont, r:repeat, y:yourself
#WET code---> w:write, e:everything t:twice

#types of loops
#while loop
#for loop

In [ ]:
#WHILE LOOP:
#what is while loop?
#while loop means it run a set of instructions as long as condiotions remains true.
target = 5
initial_count = 1
while initial_count <= target:
  print("go up")
  print("go down")
  print("=====rep completed=====")
  initial_count = initial_count + 2

go up
go down
=====rep completed=====
go up
go down
=====rep completed=====
go up
go down
=====rep completed=====

In [ ]:
#write a program to print 1 to 10 numbers by using while loop?
i = 0
while i <= 10:
  print(i)
  i = i + 2
  #NOTE: when you use "condition [i = i + 1] after the print() the output cab be exact range of number
  #'''if you are using condtions [i = i + 1] before print statments the output can be increased by 1 with respect to the range of number'''

0
2
4
6
8
10

In [ ]:
#write a program to run the lift if the user press button 4 then the left has to stop
target = int(input())
g = 0
while g <= target:
  print("lift is {g} floor")
  print("====================")
  g = g + 1

4
lift is {g} floor
====================
lift is {g} floor
====================
lift is {g} floor
====================
lift is {g} floor
====================
lift is {g} floor
====================

In [ ]:
a = 45
#i will check a is greater than 10 or not
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 40:
        print("a is greater than 40")
        if a > 50:
          print("a is greater than 50")
        else:
            print("a is less than 50")
      else:
          print("a is less than 40")
    else:
        print("a is less than 30")
  else:
      print("a is less than 20")
else:
    print("a is less than 10")

a is greater than 10
a is greater than 20
a is greater than 30
a is greater than 40
a is less than 50

In [ ]:
a = "hello world"
print(a)